@import url('reset.css');
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/s/merriweather/v19/u-4n0qyriQwlOrhSvowK_l52xwNZWMf_.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.no-events {
  pointer-events: none;
}
.all-events {
  pointer-events: auto;
}
.justify-elements {
  text-align: justify;
  line-height: 0;
}
.justify-elements:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0px;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  pointer-events: none;
  visibility: hidden;
}
.justify-elements > * {
  position: relative;
  z-index: 1;
  line-height: 1;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.inline-content {
  font-size: 0;
  text-align: inherit;
}
.inline-content > * {
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.v-align-content > * {
  display: inline-block;
  vertical-align: middle;
}
.v-align-content:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
  width: 0;
}
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fix {
  position: fixed;
}
.dis-block {
  display: block;
}
.dis-inline {
  display: inline;
}
.dis-inblock {
  display: inline-block;
}
.dis-none {
  display: none;
}
.dis-flex {
  display: -webkit-flex;
  display: flex;
}
.dis-inflex {
  display: -webkit-inline-flex;
  display: inline-flex;
}
.flex-jb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-ac {
  -webkit-align-items: center;
  align-items: center;
}
.flex-fg1 {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.flex-fs0 {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.on-right {
  float: right !important;
}
.on-left {
  float: left !important;
}
.clearfix:after {
  content: "";
  display: inline-block;
  clear: both;
}
.txt-align-r {
  text-align: right !important;
}
.txt-align-l {
  text-align: left !important;
}
.txt-align-c {
  text-align: center !important;
}
.justify-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.align-items-center {
  -webkit-align-items: center;
  align-items: center;
}
body {
  color: #000;
  font-family: 'Open sans', sans-serif !important;
  background: #fff;
  background-size: cover;
  min-height: 100vh;
}
nav {
  font-family: 'Merriweather', serif;
  background: #000000;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
}
nav a {
  color: #ffffff;
  line-height: 4;
  text-decoration: none;
  padding: 0 20px;
}
nav a.dahea {
  color: #000000;
  background: #ffffff;
  margin-right: auto;
}
nav a:hover {
  background: #ffffff;
  color: #000000;
}
.page-wrapper {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.home {
  background-image: url(home-bg.jpg);
}
.about {
  background-image: url(bg-2.jpg);
}
.shows {
  background-image: url(bg-long.jpg);
}
.projects {
  background-image: url(default-bg.jpg);
}
.photos {
  background-image: url(bg-3.jpg);
}
footer {
  position: relative;
  background: #fff;
  color: #000;
  text-align: center;
  padding: 40px 0 0;
}
footer:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 40px;
  border: 40px solid transparent;
  border-top-color: #000000;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 20px auto;
  padding-bottom: 20px;
}
.main-footer span {
  display: block;
  margin-bottom: 10px;
}
.main-footer .contact {
  text-align: left;
  margin: 0 40px;
}
.main-footer .contact a {
  font-weight: 600;
  font-size: 20px;
  padding: 8px 15px;
  line-height: 40px;
  color: #ffffff;
  background: #000000;
}
.main-footer .contact a:hover {
  background: #110174;
}
.main-footer .social {
  margin: 0 40px;
  text-align: right;
}
.main-footer .social .social-links {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}
.main-footer .social a {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.main-footer .social a svg {
  display: block;
  width: 40px;
  height: 40px;
  fill: #000000;
}
.main-footer .social a:hover {
  background: #ffffff;
}
.main-footer .social a:hover svg {
  fill: #110174;
}
.post-footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  padding: 20px 0;
  background: #000000;
  color: #fff;
}
.instagram-feed {
  background: #000;
  color: #fff;
  padding: 40px;
  max-width: 1400px;
  min-height: 200px;
}
.gear,
.bio {
  background: #fff;
  color: #000;
  padding: 40px;
  max-width: 1400px;
  min-height: 200px;
}
